.article-body{
  justify-content: center;
  text-align: center;
  overflow: hidden;
  width: 100%;
  background-color: green;
}

#subscription1{
  float: right;
  width: 200px;
  height: 200px;
  background-color: red;
}

#aside2{
  float: right;
  width: 200px;
  height: 200px;
  background-color: purple;
}

#main-img{
  background-color: blue;
  width: 1200px;
  height: 800px;
}
