#nav-bar{
  background-color: pink;
  height: 100px;
  width: 100%;
}
.article-body{
  align: center;
  overflow: hidden;
  width: 100%;
  background-color: green;
}

#subscription1{
  float: right;
  width: 200px;
  height: 200px;
  background-color: red;
}

#aside2{
  float: right;
  width: 200px;
  height: 200px;
  background-color: purple;
}

#main-img{
  background-color: blue;
  width: 1200px;
  height: 800px;
}

.article-text{
  align-self: center;
  width: 40%;
  /* clear: right; */
  background-color: yellow;
  height: 1000px;
  position: relative;
  left: 30%;
}
